# challenge dependencies
SimpleITK==2.5.0
numpy<2
timm==1.0.15
torchvision>=0.20

# custom dependencies
omegaconf==2.3.0
datasets==3.6.0
scikit-learn==1.7.0
torch>=2
lightning>=2
albumentations<=2.0.8
peft==0.17.1
